header h1 {
  color: red;
  font-size: 30px;
}
header {
  background-color: aqua;
  padding: 0px 40px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  display: inline-block;
  margin: 10px 15px;
  border: 1px solid;
  padding: 10px 17px;
  border-radius: 10px;
}

.btn{
  padding: 10px 15px;
  background-color: black;
  color: whitesmoke;
  margin: 100px 20px;
  border-radius: 10px;
  text-align: center;
}