.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

ul li {
    display: inline-block;
    margin: 8px 12px;
    padding: 10px 15px;
}

ul li a {
    color: white;
}

.card {
    border: 1px solid;
    width: 25%;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.none {
    display: none;
}